
@media only screen and (min-width:320px) and (max-width: 767px)
{
    .default_text{
      font-size: 15px !important;
      text-align: center;
      margin: 28% 0 !important;
     }
     .btn {
  margin-bottom: 10px !important;
}
.mrgin_btm_10{
    margin-bottom: 10px !important;
}
}

  @media only screen and (min-width : 800px) {
.mrgin_btm_10{
    margin-bottom: 10px !important;
}
     .btn {
  margin-bottom: 10px !important;
}
    .label-floating .form-control,
    .label-floating input,
    .label-floating select {
        padding: 13px 0 8px 0px !important;
        line-height: 13px;
    }

.btm_height_home_page{
    height: 500px !important;
}
.carousel-control-prev-icon{

    background-image:url(https://image.flaticon.com/icons/svg/523/523033.svg) !important;
}

.carousel-control-next-icon{
    background-image:url(https://image.flaticon.com/icons/svg/523/523030.svg) !important;
}
.carousel-control-prev {
width: 6% !important;
}

.carousel-control-next {
width: 6% !important;
}

    }


@media only screen and (min-width : 1200px) {
       .btn {
  margin-bottom: 10px !important;
}
.default_text{
  font-size: 15px !important;
  text-align: center;
  margin: 14% 0 !important;
}
        .label-floating .form-control,
.label-floating input,
.label-floating select {
       padding: 13px 0 8px 0px !important;
  line-height: 8px;
}

.btm_height_home_page{
    height: 180px !important;
}
.carousel-control-prev-icon{

    background-image:url(https://image.flaticon.com/icons/svg/523/523033.svg) !important;
}

.carousel-control-next-icon{
    background-image:url(https://image.flaticon.com/icons/svg/523/523030.svg) !important;
}
.carousel-control-prev {
width: 3% !important;
}

.carousel-control-next {
width: 3% !important;
}

    }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
       .btn {
  margin-bottom: 10px !important;
}
      .default_text{
        font-size: 15px !important;
  text-align: center;
  margin: 28% 0 !important;
    }

.btm_height_home_page{
    height: 10px !important;
}
.carousel-control-prev-icon{

    background-image:url(https://image.flaticon.com/icons/svg/523/523033.svg) !important;
}

.carousel-control-next-icon{
    background-image:url(https://image.flaticon.com/icons/svg/523/523030.svg) !important;
}
}
   @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
       .btn {
  margin-bottom: 10px !important;
}
.btm_height_home_page{
    height: 120px !important;
}
.carousel-control-prev-icon{

    background-image:url(https://image.flaticon.com/icons/svg/523/523033.svg) !important;
}

.carousel-control-next-icon{
    background-image:url(https://image.flaticon.com/icons/svg/523/523030.svg) !important;
}

}

.img-fluid, .img-thumbnail{
    width: 100% !important;
}


#submit_signup{
    margin-bottom: 15px !important;
}